



.hero-travel{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-left: 135px;
  margin-right: 127px;
  /* border: 2px solid tomato; */
  align-items: center;

}
.img-title{
 display: inline-flex;
}

.hero-travel-title{
  font-size: 36px;
}

.travel{
  color: #FF5400;
 

}
.hero-travel-img{
  width: 56px;
  height: 48px;
  margin-top: 25px;
  padding-right: 8px;
}

 .anchor-home {
  display: flex;

}

.hero-travel ul > li{
  list-style: none;
  margin-right: 44px;
} 

.home{
  color: #FF5400;
  font-family: 'Mulish';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.packges-contact{
  color: var(--Dark-02, #424247);
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 400;

}

/* @media screen {
  
} */



  #first{
    background: rgba(0,0,0,0.3) url(resources/group\ 13.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: auto;
    /* border: 1px solid tomato; */
    border-radius: 8px;
  }


.container{
  text-align: center;
  padding-top: 80px;
}

.explore{
  color: #FFF;
  font-family: 'Mulish';
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
}

.first-para{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.first-btns{
  padding: 16px;
  background-color:rgba(255, 255, 255, 0.30);
  margin: auto;
  width: 800px;
  text-align: center;
  border-radius: 8px;
}

.go-type{
  /* color: #FFF; */
  width: 154px; 
  height: 52px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  color: rgba(19, 19, 24, 0.50);
  text-align: center;
  font-family: 'Mulish';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-right: 55px;

}
.find-now{
  background-color: #FF5400;
  color: rgba(19, 19, 24, 0.50);
  width: 154px; 
  height: 52px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  /* padding-right: 55px; */

}



/* @media screen {
  
} */



section, #second{
  margin: 100px 135px;
  display:flex;
  /* width: 50%; */
  /* margin-left: 135px;
  margin-right: 135px;*/
}

.popular-tours{
  color:rgba(19, 19, 24, 0.70);
  padding-right: 53px;
  font-size: 16px;
  font-family: 'Mulish';
  font-weight: 400;
  

}

.tours{
  color: #131318;
  font-size: 40px;
  font-family: 'Mulish';
  font-weight: 800;
}
.img-two{
  width: 540px;
  height: 550px;

}

.second-btn{
  background-color: #FF5400;
  color: #FFF;
  border: none;
  width: 154px;
  height: 52px;
  border-radius: 8px;
  margin-top: 46px;
  font-size: 20px;
  font-family: 'Mulish';
  font-weight: 800;
}


/* @media screen {
  
} */


