



.hero-travel{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-left: 135px;
  margin-right: 127px;
  /* border: 2px solid tomato; */
  align-items: center;

}
.img-title{
 display: inline-flex;
}

.hero-travel-title{
  font-size: 36px;
}

.travel{
  color: #FF5400;
 

}
.hero-travel-img{
  width: 56px;
  height: 48px;
  margin-top: 25px;
  padding-right: 8px;
}

 .anchor-home {
  display: flex;

}

.hero-travel ul > li{
  list-style: none;
  margin-right: 44px;
} 

.home{
  color: #FF5400;
  font-family: 'Mulish';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.packges-contact{
  color: var(--Dark-02, #424247);
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 400;

}

/* @media screen {
  
} */



  #first{
    background: rgba(0,0,0,0.3) url(resources/group\ 13.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    margin: auto;
    /* border: 1px solid tomato; */
    border-radius: 8px;
  }


.container{
  text-align: center;
  padding-top: 80px;
}

.explore{
  color: #FFF;
  font-family: 'Mulish';
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
}

.first-para{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.first-btns{
  padding: 16px;
  background-color:rgba(255, 255, 255, 0.30);
  margin: auto;
  width: 800px;
  text-align: center;
  border-radius: 8px;
}

.go-type{
  /* color: #FFF; */
  width: 154px; 
  height: 52px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  color: rgba(19, 19, 24, 0.50);
  text-align: center;
  font-family: 'Mulish';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-right: 55px;

}
.find-now{
  background-color: #FF5400;
  color: rgba(19, 19, 24, 0.50);
  width: 154px; 
  height: 52px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  /* padding-right: 55px; */

}



/* @media screen {
  
} */



#second{
  margin: 100px 135px;
  display:flex;
  /* width: 50%; */
  /* margin-left: 135px;
  margin-right: 135px;*/
}

.popular-tours{
  color:rgba(19, 19, 24, 0.70);
  padding-right: 53px;
  font-size: 16px;
  font-family: 'Mulish';
  font-weight: 400;
  

}

.tours{
  color: #131318;
  font-size: 40px;
  font-family: 'Mulish';
  font-weight: 800;
}
.img-two{
  width: 540px;
  height: 550px;

}

.second-btn{
  background-color: #FF5400;
  color: #FFF;
  border: none;
  width: 154px;
  height: 52px;
  border-radius: 8px;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Mulish';
  font-weight: 800;
}


/* @media screen {
  
} */

#third{
  text-align: center;
  /* color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800; */
  /* margin-left: 135px;
  margin-right: 135px; */

}

.destination-title{
  color: #131318;
  text-align: center;
  font-family: 'Mulish';
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}

.destination-para{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.country-part-one{
  display: flex;
  gap: 24px;
  margin-top: 48px;
}

.country-maldives{
  background: url(resources/mald.png);
  background-repeat: no-repeat;
  width: 573px;
  height: 300px;
  margin-left: 135px;
  border-radius: 16px;
}

  .mald{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top: 90px;
  

}

.country-indonesia{
  background: url(resources/indo.png);
  background-repeat: no-repeat;
  color: #FFF;
  width: 573px;
  height: 300px;
  margin-right: 135px;
  border-radius: 16px;

}
.indo{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top: 90px;
  
}

.country-part-two{
  display: flex;
  gap: 24px;
}
.country-srilanka{
  background: url(resources/sril.png);
  width: 374px;
  height: 286px;
  margin-top: 24px;
  margin-left: 135px;
  border-radius: 16px;

}

.sril{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top: 90px;
  
}


.country-north{
  background: url(resources/north.png);
  width: 474px;
  height: 286px;
  margin-top: 24px;
  border-radius: 16px;
}

.north{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top: 90px;  
}
.country-kashmir{
  background: url(resources/kas.png);
  background-repeat: no-repeat;
  width: 274px;
  height: 286px;
  margin-top: 24px;
  border-radius: 16px;
}


.kas{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top: 90px;
}



.country-part-three{
  display: flex;
  gap: 24px;
}
.country-bangladesh{
  background: url(resources/bang.png);
  width: 473px;
  height: 300px;
  margin-left: 135px;
  border-radius: 16px;
  margin-top: 24px;
}

.bangla{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top:90px;
}

.country-bandarbon{
  background: url(resources/band.png);
  width: 673px;
  height: 300px;
  margin-top: 24px;
  border-radius: 16px;
  margin-right: 135px;
}

.band{
  color: #FFF;
  text-align: center;
  font-family: 'Mulish';
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top:90px;
}

/* @media screen {
  
} */

/* ..........................comment....................... */
#fourth{
  margin: auto;
  /* text-align: center; */
  margin-top: 100px;
}
 

.choose-items{
  margin-top: 48px;
  gap:24px;
  margin-top:48px;
  margin-left: 135px;
  margin-right: 135px;
  display: flex;
}

.why-choose{
  /* text-align: center; */
  color: #131318;
  text-align: center;
  font-family: 'Mulish';
  font-size: 40px;
  font-style: normal;
  font-weight: 800;

  

}




.second-para{
  color: rgba(19, 19, 24, 0.70);

  /* text-align: center; */
  font-family: 'Mulish';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.handpicked{
  
  background-color: rgba(251, 181, 99, 0.05);
  width: 573px;
  height: 284px;
  padding-top: 32px;
  padding-left: 32px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  border-radius: 16px;
  padding-right: 24px;
}

.handpicked-title{
  color: #131318;

  text-align: center;
  font-family: 'Mulish';
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}


.third-para{
  color: #5A5A5D;
  font-family: 'Mulish';
  font-size: 16px;
  font-weight: 400
}

.world-class{
  background-color: rgba(41, 206, 246, 0.05) ;
  width: 573px;
  height: 284px;
  padding-top: 32px;
  padding-left: 32px;
  border: 1px solid rgba(41, 206, 246, 0.05);
  border-radius: 16px;
  padding-right: 24px;


}

.world-class-title{
  color: #131318;
  font-family: 'Mulish';
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}
 
.fourth-para{
  color: #5A5A5D;
  font-family: 'Mulish';
  font-size: 16px;
  font-weight: 400
}

.price-guarantee{
  margin-top: 24px;
}

.guarantee{
  justify-content: center;
  background-color:  rgba(233, 68, 68, 0.05) ;
  width: 573px;
  height: 284px;
  margin-left: 433px;
  margin-right: 434px;
  padding-top: 32px;
  padding-left: 32px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  border-radius: 16px;

}

.guarantee-title{
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}

.fifth-para{
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}


/* @media screen {
  
} */


